<div #elem class="dropdown {{ dropDownStatus ? 'open': null }}">

  <div class="click-area disHighlight" (click)="openDropdown()">

    <div class="name-holder">
      {{ name }}
      <span class="value-indicator"
            *ngIf="(rangeValues[0] !== 0|| rangeValues[1] !== 100)"
      >
        {{ rangeValues[0] }}%-{{ rangeValues[1] }}%
      </span>
    </div>

    <div class="status-indicator">
      <span *ngIf="dropDownStatus" >&#x25B2;</span>
      <span *ngIf="!dropDownStatus">&#x25BC;</span>
    </div>

  </div>

  <div class="first-divider"></div>

  <div class="content-information">

    <nouislider
      #slider
      [connect]="true"
      [min]="0"
      [max]="100"
      [step]="10"
      [(ngModel)]="rangeValues"
      [tooltips]="true"
      (change)="updateValueModel(slider)"
    ></nouislider>

  </div>

  <div class="second-divider"></div>

  <div *ngIf="(rangeValues[0] !== 0|| rangeValues[1] !== 100)"
       class="clear-all-button" (click)="reset()"
  >
    Clear
  </div>

</div>
